extends layout

block content
    #menu
        a(onclick='changeSongList("/home")', href='#') Home
        span 
        input(type="text", name="search", id="search")
    #library
        .scrollbar
            .track
                .thumb
                    .end
        .viewport
            include songlist
    #audio
        audio(controls='controls', id='audioctr')
            source(src='/fetch/#{songArr[0].id}', type='audio/mpeg', id='aud_src')
