body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a.artist {
  color: #c22121;
  font-weight:bold;
}

a.album {
  color: #25890c;
  font-weight:bold;
}

a.title {
  color: #2189c6;
}
